#contacto-1{
    background-color: $primary-color;
    width: 100vw;
    height: 85vh;
    border-bottom: 1px $text-color solid;
    @include media-up (sm){
        height: 100vh;
    }
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media-up (xl){
        background-color: black;
        height: 99vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }  
       h1{
        color: $text-color;
        font-family: $primary-typography;
        font-size: 60px;
        @include media-up(xl){
            font-size: 90px;
            margin-left: 25px;
        }
       }
        h2{
            color: $text-color;
            font-family: $primary-typography;
            font-size: 20px;
            @include media-up (xl){
                font-size: 30px;
                margin-left: 25px;
            }
        }
        p{
            color: $text-color;
            font-size: 16px;
            text-align: center;
            margin-left: 8px;
            margin-right: 8px;
            @include media-up (xl){
                font-size: 18px;
                margin-left: 25px;
            }
        }
    }
    
    .form{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin: 15px 25px;
        color: $text-color;
        @include media-up (md){
            align-items: flex-start;
        }
        @include media-up (xl){
            position: absolute;
            left: 60%;
            bottom: 10%;
        }
        .textarea{
            width: 172px;
            margin-top: 15px;
            margin-bottom: 10px;
            @include media-up (sm){
                width: 250px;
            }
        }
    }
}

#contacto-2{
    background-image:url("/imagenes/Buildings-oficinas.jpg");
    background-size:cover;
    background-attachment: fixed;
    height: 10vh;
    width: 100vw;
    @include media-up (sm){
        height: 20vh;
    }
    @include media-up (md){
        height: 30vh;
    }
    @include media-up (xl){
        height: 45vh;
    }
}