#index-1{
    background-color: $primary-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-up(sm){
        width: 100vw;
        height: 110vh;
    }
    @include media-up(md){
        width: 100vw;
        height: 110vh;
    }
    @include media-up(xl){
        width: 100vw;
        height: 115vh;
    }
    .img-1{
        height: 400px;
        width: 300px;
        position: absolute;
        top: 30%;
        left: 100px;
        @include media-up(sm){
            height: 450px;
            width: 350px;
            position: absolute;
            top: 30%;
            left: 190px;
        }
        @include media-up(md){
            height: 470px;
            width: 370px;
            position: absolute;
            top: 28%;
            left: 200px;
        }
        @include media-up(xl){
            height: 500px;
            width: 420px;
            position: absolute;
            top: 18%;
            left: 65%;
        }
    }    
    .img-2{
        height: 270px;
        width: 210px;
        position: absolute;
        top: 25%;
        right: 145px;
        @include media-up(sm){
            height: 300px;
            width: 230px;
            position: absolute;
            top: 25%;
            left: 90px;
        }
        @include media-up(md){
            height: 320px;
            width: 250px;
            position: absolute;
            top: 25%;
            left: 100px;
        }
        @include media-up(xl){
            height: 340px;
            width: 270px;
            position: absolute;
            top: 12%;
            left: 55%;
        }
    }
    .container-1{
        color: $text-color;       
        letter-spacing: 1px;
        position: absolute;
        top: 10%;

        @include media-up(xl){
            width: fit-content;
            top: 18%;
            right: 50%;
        }
        H1{
            font-family: $primary-typography;
            font-size: 35px;
            @include media-up(md){
                font-size: 45px;
            }
            @include media-up(xl){
                font-size: 55px;
            }
        }
    }
    .container-2{
        color: $text-color;       
        position: absolute;
        top: 15%;
        left: 30%;
        @include media-up(sm){
            top: 17%;
        }
        @include media-up(md){
            top: 18%;
        }
        @include media-up(xl){
            top: 28%;
        }
        H2{
            font-family: $primary-typography;
            font-size: 25px;
            @include media-up(md){
                font-size: 28px;
            }
            @include media-up(xl){
                font-size: 30px;
            }
        }
    }
    .article-1{     
        position: absolute;
        top: 90%;
        text-align: center;
        @include media-up (sm){
            position: absolute;
            top: 102%;
        }
        @include media-up (xl){
            position: absolute;
            top: 88%;
        }
        .p-1{
            font-family: $secondary-typography;
            font-size: 15px;
            color: $text-color;       
            @include media-up(md){
                font-size: 18px;
            }
            @include media-up(xl){
                font-size: 20px;
            }
        }
        .p-2{
            font-family: $primary-typography;
            font-size: 14px;
            color: $secondary-color;
            @include media-up(sm){
                position: absolute;
                top: 65%;
            }
            @include media-up(md){
                font-size: 16px;
            }
            @include media-up(xl){
                font-size: 18px;
                position: absolute;
                top: 65%;
            }
        }
    }
}


#index-2{
    background-color: $primary-color;
    height: max-content;
    border-bottom: 1px $text-color solid;
    div{
        display: flex;
        justify-content: center;
        padding: 60px 10px 0px 10px;
        @include media-up (sm){
            padding: 45px 10px 0px 10px;
        }
        @include media-up (xl){
            padding: 200px 10px 0px 10px;
        }
        h3{
            font-size: 18px;
            font-family: $secondary-typography;
            color: $text-color;
            @include media-up (md){
                font-size: 20px;
            }
            @include media-up (xl){
                font-size: 23px;
            }
        }
        .Resultados{
            font-size: 20px;
            font-family: $primary-typography;
            color: $tertiary-color;
            @include media-up (md){
                font-size: 22px;
            }
            @include media-up (xl){
                font-size: 25px;
            }
        }    
    }
    article{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 15px 25px 40px 15px;
        @include media-up (xl){
            padding: 15px 25px 190px 15px; 
        }

        p{
            font-size: 12px;
            font-family: $secondary-typography;
            color: $text-color;
            @include media-up (md){
                font-size: 14px;
            }
            @include media-up (xl){
                font-size: 16px;
            }
        }
    }
}

#index-3{
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px $text-color solid;
    @include media-up (md){
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }
    
}

#index-4{
    background-color: $primary-color;
    height: max-content;
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        iframe{
            width: auto;
            height: 30vh;
            @include media-up (xl){
                height: 45vh;
            }
        }
        p{
            color: $text-color;
            font-family: $secondary-typography;
            margin: 15px 10px;
            text-align: center;
            @include media-up (md){
                font-size: 14px;
            }
            @include media-up (xl){
                font-size: 16px;
            }
        }
    }
}

