.card{
    text-align: center;
    margin: 15px;
    margin-top: 45px;
    margin-bottom: 45px;
    height: 2%;
    padding: 10px 0px;
    background-color: $primary-color;
    border: 1px $text-color solid;
    border-radius: 8px;
    @include media-up (md){
        height: 450px;
    }
    @include media-up (xl){
        height: 530px;
        margin-top: 110px;
        margin-bottom: 110px;
    }
    img{
        height: 150px;
    }
    .card-body{
        height: 30%;
        .card-title{
            font-family: $primary-typography;
            color: $text-color;
            font-size: 18px;
            @include media-up (md){
                font-size: 20px;
            }
            @include media-up (xl){
                font-size: 25px;
            }
        }
        .card-text{
            font-family: $secondary-typography;
            color: $text-color;
            margin: 15px 0px;
            @include media-up (md){
                font-size: 12px;
            }
            @include media-up (xl){
                font-size: 14px;
            }
        }
    }
}

